[submodule "gd_l4"]
	path = gd_l4
	url = git@github.com:phreakocious/gd_l4.git
[submodule "gd_tcflag"]
	path = gd_tcflag
	url = git@github.com:phreakocious/gd_tcflag.git
[submodule "wireshark-plugins"]
	path = wireshark-plugins
	url = https://github.com/kaos/wireshark-plugins.git
[submodule "wireshark-nmea"]
	path = wireshark-nmea
	url = https://github.com/kmpm/wireshark-nmea
[submodule "redis-wireshark"]
	path = redis-wireshark
	url = https://github.com/jzwinck/redis-wireshark.git
[submodule "wireshark-tcpextend"]
	path = wireshark-tcpextend
	url = https://github.com/gaddman/wireshark-tcpextend.git
[submodule "wireshark-http-extra"]
	path = wireshark-http-extra
	url = https://github.com/shomeax/wireshark-http-extra.git
