[submodule "gd_tcflag"]
	path = gd_tcflag
	url = git@github.com:phreakocious/gd_tcflag.git
[submodule "wireshark-plugins"]
	path = wireshark-plugins
	url = https://github.com/kaos/wireshark-plugins.git
